* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #fff;
  padding: 25px 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list-item {
  margin-left: 1em;
}

.nav-link {
  color: rgb(51, 68, 85);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: rgb(87, 128, 155);
}
