* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #eee;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

.flex-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  flex: 1;
}

.one {
  background: red;
}

.two {
  background: green;
}

.three {
  background: blue;
}
