:root {
  font-size: 0.75em;
}

.panel {
  font-size: 1rem;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #999;
}

.panel > h2 {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.panel.large {
  font-size: 1.2em;
}

@media (min-width: 800px) {
  :root {
    font-size: 0.875em;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}

.square {
  width: 10vmax;
  height: 10vmax;
  background-color: #369;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
