<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons Grid vs Flexbox</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- INLINE-BLOCK-BUTTONS -->
    <h1>INLINE-BLOCK-BUTTONS</h1>
    <div class="inline-block-buttons">
      <button class="button button--remove" type="button">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            d="M94.9 22.9L77.22 5.22 50 32.45 22.78 5.22 5.1 22.9l27.22 27.22L5.1 77.35l17.68 17.68L50 67.8l27.22 27.23L94.9 77.35 67.68 50.12 94.9 22.9z"
          />
        </svg>
        Delete
      </button>
      <button class="button button--add" type="button">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            d="M62.5 3h-25v34.5H3v25h34.5V97h25V62.5H97v-25H62.5V3z"
          />
        </svg>
        Add
      </button>
      <a class="button button--think" href="#">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            fill-rule="evenodd"
            d="M95 50a45 45 0 11-90 0 45 45 0 0190 0zM50 70a20 20 0 100-40 20 20 0 000 40z"
            clip-rule="evenodd"
          />
        </svg>
        Think</a
      >
    </div>
    <hr />
    <!-- GRID-BUTTONS -->
    <h1>GRID-BUTTONS</h1>
    <div class="grid-buttons">
      <button class="button button--remove" type="button">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            d="M94.9 22.9L77.22 5.22 50 32.45 22.78 5.22 5.1 22.9l27.22 27.22L5.1 77.35l17.68 17.68L50 67.8l27.22 27.23L94.9 77.35 67.68 50.12 94.9 22.9z"
          />
        </svg>
        Delete
      </button>
      <button class="button button--add" type="button">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            d="M62.5 3h-25v34.5H3v25h34.5V97h25V62.5H97v-25H62.5V3z"
          />
        </svg>
        Add
      </button>
      <a class="button button--think" href="#">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            fill-rule="evenodd"
            d="M95 50a45 45 0 11-90 0 45 45 0 0190 0zM50 70a20 20 0 100-40 20 20 0 000 40z"
            clip-rule="evenodd"
          />
        </svg>
        Think</a
      >
    </div>
    <hr />
    <!-- INLINE-GRID-BUTTONS -->
    <h1>INLINE-GRID-BUTTONS</h1>
    <div class="inline-grid-buttons">
      <button class="button button--remove" type="button">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            d="M94.9 22.9L77.22 5.22 50 32.45 22.78 5.22 5.1 22.9l27.22 27.22L5.1 77.35l17.68 17.68L50 67.8l27.22 27.23L94.9 77.35 67.68 50.12 94.9 22.9z"
          />
        </svg>
        Delete
      </button>
      <button class="button button--add" type="button">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            d="M62.5 3h-25v34.5H3v25h34.5V97h25V62.5H97v-25H62.5V3z"
          />
        </svg>
        Add
      </button>
      <a class="button button--think" href="#">
        <svg class="button__icon" width="32" height="32" viewBox="0 0 100 100">
          <path
            fill="#000"
            fill-rule="evenodd"
            d="M95 50a45 45 0 11-90 0 45 45 0 0190 0zM50 70a20 20 0 100-40 20 20 0 000 40z"
            clip-rule="evenodd"
          />
        </svg>
        Think</a
      >
    </div>
    <hr />
    <!-- INLINE-FLEX-BUTTONS -->
    <h1>INLINE-FLEX-BUTTONS</h1>
    <div class="inline-flex-buttons">
      <div class="grid-buttons">
        <button class="button button--remove" type="button">
          <svg
            class="button__icon"
            width="32"
            height="32"
            viewBox="0 0 100 100"
          >
            <path
              fill="#000"
              d="M94.9 22.9L77.22 5.22 50 32.45 22.78 5.22 5.1 22.9l27.22 27.22L5.1 77.35l17.68 17.68L50 67.8l27.22 27.23L94.9 77.35 67.68 50.12 94.9 22.9z"
            />
          </svg>
          Delete
        </button>
        <button class="button button--add" type="button">
          <svg
            class="button__icon"
            width="32"
            height="32"
            viewBox="0 0 100 100"
          >
            <path
              fill="#000"
              d="M62.5 3h-25v34.5H3v25h34.5V97h25V62.5H97v-25H62.5V3z"
            />
          </svg>
          Add
        </button>
        <a class="button button--think" href="#">
          <svg
            class="button__icon"
            width="32"
            height="32"
            viewBox="0 0 100 100"
          >
            <path
              fill="#000"
              fill-rule="evenodd"
              d="M95 50a45 45 0 11-90 0 45 45 0 0190 0zM50 70a20 20 0 100-40 20 20 0 000 40z"
              clip-rule="evenodd"
            />
          </svg>
          Think</a
        >
      </div>
    </div>
  </body>
</html>
