* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

html,
body {
  font-size: 1.1em;
  font-family: sans-serif;
  background-color: #ffeead;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'header header header header'
    'sect-left sect-left sect-right sect-right'
    'sect-left sect-left components components';
}

header {
  grid-area: header;
}

.left-section {
  grid-area: sect-left;
  background-color: rgb(252, 189, 189);
  padding: 24px;
}

.right-section {
  grid-area: sect-right;
  background-color: rgb(189, 207, 252);
  padding: 24px;
}

section.components {
  grid-area: components;
  padding: 24px;
}

h3 {
  text-align: center;
}
