.featured-videos .swiper-container {
  overflow-x: hidden;
  width: 100%;
  margin-top: 50px;
  padding: 100px 0;
}

.featured-videos .swiper-slide {
  background: #e3e3e3;
  border-radius: 8px;
  min-height: 550px;
  width: 890px;
  transition: transform 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.featured-videos .swiper-slide::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 50%,
    rgba(0, 0, 0, 0.461617) 100%
  );
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.featured-videos .swiper-slide-active {
  transform: scaleX(1.16) scaleY(1.2);
  transition: transform 0.3s;
}

.featured-videos .swiper-slide-active::after {
  opacity: 1;
  transition: opacity 0.3s;
}

.slide-title {
  font-weight: 700;
  font-size: 26px;
  color: var(--white-color);
  position: relative;
  z-index: 1;
  padding: 0 0 30px 30px;
  letter-spacing: 1.9px;
  transform: translateY(200px);
  transition: transform 0.3s;
}

.featured-videos .swiper-slide-active .slide-title {
  transform: translateY(0);
  transition: transform 0.3s;
}

.featured-videos {
  padding-top: 150px;
  padding-bottom: 50px;
}

.featured-videos__descr {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
  font-family: 'SFCompactText', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
  margin-top: 26px;
}

.featured-videos .slide-1 {
  background-image: url(../../img/slide-1.jpg);
}

.featured-videos .slide-2 {
  background-image: url(../../img/slide-2.jpg);
}

.featured-videos .slide-3 {
  background-image: url(../../img/slide-3.jpg);
}

.featured-videos .slide-4 {
  background-image: url(../../img/slide-1.jpg);
}

.slide-play {
  position: absolute;
  top: 40px;
  left: 48px;
  width: 112px;
  height: 112px;
  background-image: url('../../img/video-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
