body,
html {
  margin: 0;
  height: 100%;
  font-family: Arial;
}

body {
  display: grid;
  margin: 0;
  grid-template-columns: 20% auto;
  grid-template-rows: auto 50px;
  grid-template-areas:
    'sidebar content'
    'sidebar footer';
}

aside {
  grid-area: sidebar;
  background-color: grey;
}

.content {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

footer {
  grid-area: footer;
  background-color: lightgray;
  padding: 10px;
}

@media screen and (max-width: 39.9375em) {
  body {
    grid-template-areas:
      'sidebar footer'
      'sidebar content';
  }
}
